<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".nmf" mimeType="application/x-nacl" />
            <mimeMap fileExtension=".image" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".nexe" mimeType="application/x-nacl" />
        </staticContent>
    </system.webServer>
</configuration>
